#map {
    height: 50%;
    width: auto;
}

#pac-input {
    position: fixed !important;
    top: 500px !important;
    left: 0 !important;
    width: 100px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
